@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Jogos</h1>
    <p class="lead">Agora vai ser fácil saber por quem e quando um jogo foi levado!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Amigos</h2>
        <p>
            Com o cadastro de amigos, é possível acompanhar de perto, quem ainda pode pegar jogos, quem não pode e quais jogos
            cada um pegou!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Jogos</h2>
        <p>
            O cadastro de jogos vai ajudar a manter a lista de jogos sempre em dia, saber onde cada jogo está, desde quando, além de informações
            interessantes como o gênero do jogo!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Emprestimos</h2>
        <p>
            É aqui que a mágica acontece. Agora ninguém vai ficar triste por esperar por um jogo que já está emprestado, porque esses
            não aparessem na lista, então nada de confusão! Sem contar que atualizar a lista e liberar os jogos que são devolvidos é
            fácil e prático!
        </p>
    </div>
</div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Mais uma informação importante!</h1>
            <p class="lead">
                Os menus só vão aparecer quando você estiver logado. Faça seu cadastro e desfrute dessa organização simples
                e prática!!
            </p>
        </div>
    </div>
</div>